<div style="height: @Height; width: @Width">
    @if (!string.IsNullOrEmpty(Base64Data) && string.IsNullOrEmpty(Errors))
    {
        @*<iframe src="data:application/pdf;base64,@Base64Data" height="100%" width="100%">
        </iframe>*@
            @*<canvas id="the-canvas"></canvas>*@
                <canvas id="pdf-canvas"></canvas>
    }
    else
    {
        @if (string.IsNullOrEmpty(Errors))
        {
            <div>Nessun file selezionato</div>
        }
        else
        {
            @Errors
        }
    }
</div>