<div style="width: @Width;">
    @if (!string.IsNullOrEmpty(Base64Data) && string.IsNullOrEmpty(Errors))
    {
        @*<div>@Pages</div>*@
            <canvas id="pdf-canvas" style="margin: auto; padding: 0;
    margin: auto;
    display: block;
border: 1px black solid"></canvas>
        @if(Pages > 1)
        {
            <p style="text-align: center;">@ActualPage / @Pages</p>
        }
    }
    else
    {
        @if (string.IsNullOrEmpty(Errors))
        {
            <div>Nessun file selezionato</div>
        }
        else
        {
            @Errors
        }
    }
</div>