<div style="width: @Width;">
    @if (!string.IsNullOrEmpty(Base64Data) && string.IsNullOrEmpty(Errors))
    {
        <canvas id="pdf-canvas"></canvas>
        @if(Pages > 1)
        {
            <div class="pagination">
                <i class="arrow left" @onclick="(() => ChangePage(ActualPage - 1))"></i>
                <p>@ActualPage / @Pages</p>
                <i class="arrow right" @onclick="(() => ChangePage(ActualPage + 1))"></i>
            </div>
        }
    }
    else
    {
        @if (string.IsNullOrEmpty(Errors))
        {
            <div>Nessun file selezionato</div>
        }
        else
        {
            @Errors
        }
    }
</div>